@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800;900&display=swap');

.back {
    font-family: 'Permanent Marker', cursive;
}

.errorBack {
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; */